node_modules
dist
.env
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/*.tfvars
!infra/terraform/terraform.tfvars.example